<html>

<head>
    <title>Model Building</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="p-5 bg-white shadow rounded-lg">

                        <h1>Hello</h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>